a {
    text-align: center;
    color: #808080;

}

p {
    text-align: center;
    color: #808080;

}

h1 {
    text-align: center;
    color: #808080;

}

h2 {
    text-align: center;
    color: #808080;

}

h3 {
    text-align: center;
    color: #808080;

}

h4 {
    text-align: center;
    color: #808080;

}

h5 {
    text-align: center;
    color: #808080;

}

h6 {
    text-align: center;
    color: #808080;

}

header {
    background-color: #000000;
    cursor: url('/cursor/cursor.svg'), auto;

}

nav {
    background-color: #000000;
    cursor: url('/cursor/cursor.svg'), auto;

}

main {
    background-color: #000000;
    cursor: url('/cursor/cursor.svg'), auto;

}

aside {
    background-color: #000000;
    cursor: url('/cursor/cursor.svg'), auto;

}

section {
    background-color: #000000;
    cursor: url('/cursor/cursor.svg'), auto;

}

footer {
    background-color: #000000;
    cursor: url('/cursor/cursor.svg'), auto;

}
