a {
    text-align: center;
    color: #808080;

}

p {
    text-align: center;
    color: #808080;

}

h1 {
    text-align: center;
    color: #808080;

}

h2 {
    text-align: center;
    color: #808080;

}

h3 {
    text-align: center;
    color: #808080;

}

h4 {
    text-align: center;
    color: #808080;

}

h5 {
    text-align: center;
    color: #808080;

}

h6 {
    text-align: center;
    color: #808080;

}

body {
    background-color: #808080;
    cursor: url('/cursor/cursor.svg'), auto;
    
}